snippet ir "Import React"
import * as React from 'react';
endsnippet

snippet cl "Insert console.log"
console.log('$1');
endsnippet

snippet ld "Insert cosole.log"
log.debug($1);
endsnippet

snippet doc "Doc Comment" b
/**
 * $1
 */
endsnippet

snippet esl "eslint disable line"
// eslint-disable-line $1
endsnippet
